<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.logo {
			text-align: center;
		}
		.logo img {
			width: 300px;
		}
		.default-width {
			width: 650px;
			margin: auto;
			font-size: 14px;
    	line-height: 1.5;
		}

	</style>
</head>
<body>
	<div class="default-width">
		<div class="logo">
			<%= image_tag @host[:protocol] + @host[:hostname] + '/img/main_logo.png' %>
		</div>
		<br>
		<p>Dear <%= @user.first_name %> <%= @user.last_name %></p>
		<br>
		<p>Click on the link below to reset your password for <b><%= @company_address %></b></p>
		<br>
		<p>Click here: <%= @host[:protocol] + @host[:hostname] + '/#!/reset_pass?token=' + @token %></p>
		<br>
		<p>Sincerely,</p>
		<p>Team Venturebility</p>
	</div>
</body>
</html>
