<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.logo {
			text-align: center;
		}
		.logo img {
			width: 300px;
		}
		.default-width {
			width: 650px;
			margin: auto;
			font-size: 14px;
    	line-height: 1.5;
		}

		ol {
			padding: 0;
		}

	</style>
</head>
<body>
	<div class="default-width">
		<div class="logo">
			<%= image_tag @host[:protocol] + @host[:hostname] + '/img/main_logo.png' %>
		</div>
		<br>
		<p>Dear <%= @mail_to_user.first_name %> <%= @mail_to_user.last_name %></p>
		<br>
		<p>You have <%= @appointment %>, with <b><%= @user.first_name + ' ' + @user.last_name %></b>, in <%= @minutes %> minutes</p>
		<br>
		<p>Sincerely,</p>
		<p>Team Venturebility</p>
	</div>
	
</body>
</html>