<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.logo {
			text-align: center;
		}
		.logo img {
			width: 300px;
		}
		.default-width {
			width: 650px;
			margin: auto;
			font-size: 14px;
    	line-height: 1.5;
		}
	</style>
</head>
<body>
	<div class="default-width">
		<div class="logo">
			<%= image_tag @host[:protocol] + @host[:hostname] + '/img/main_logo.png' %>
		</div>
		<p>Dear <%= @user.first_name %> <%= @user.last_name %></p>
		<br>
		<p>Your Company Registration with domain <%= @company_address %> is about to end on <%= Time.now + 1.months %>. Please renew your subscription to use your services again. We also recommend you to go on Direct Debit for automatic payments on renewal date to avoid halting of website. </p>
		<br>
		<p>Visit <%= @host[:protocol] + @host[:hostname] + '/#!/admin_register?user_id=' + @user.id.to_s + '&plan_id=' + @user.plan.id.to_s + '&paid=1' %> to renew account</p>
		<br>
		<p>Ps. We will hold your domain for One Extra month before deleting it permanently from our system. All you documents and saved items will be deleted automatically.</p>
		<br>
		<p>Sincerely,</p>
		<p>Team Venturebility</p>
	</div>
	
</body>
</html>
