<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.logo {
			text-align: center;
		}
		.logo img {
			width: 300px;
		}
		.default-width {
			width: 650px;
			margin: auto;
			font-size: 14px;
    	line-height: 1.5;
		}
		ol {
			padding: 0;
		}
	</style>
</head>
<body>
	<div class="default-width">
		<div class="logo">
			<%= image_tag @host[:protocol] + @host[:hostname] + '/img/main_logo.png' %>
		</div>

		<p>Dear <%= @user.first_name %> <%= @user.last_name %></p>
		<% if @staff_password != "" %>
		<br>
		<p>Congratulations, you are now a registered User at <b><%= @company_address %></b></p>
		<table>
			<tbody>
				<tr><td>Your User ID:</td><td><%= @user.email %></td></tr>
				<tr><td>Your Password:</td><td><%= @staff_password %></td></tr>
			</tbody>
		</table>
		<% end%>
		<br>
		<p>Please follow the Steps to Login</p>
		<ol>
			<li>Click here to verify the email address: <%= @company_address + '/#!/login?id=' + @user.id.to_s %></li>
			<li>Click here to go to your New Venture: <%= @company_address %></li>
		</ol>
		<br>
		<p>Sincerely,</p>
		<p>Team Venturebility</p>
	</div>
</body>
</html>
