<p id="notice"><%= notice %></p>

<h1>Listing User Documents</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Document</th>
      <th>Filename</th>
      <th>Content type</th>
      <th>File contents</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_documents.each do |user_document| %>
      <tr>
        <td><%= user_document.user %></td>
        <td><%= user_document.document %></td>
        <td><%= user_document.filename %></td>
        <td><%= user_document.content_type %></td>
        <td><%= user_document.file_contents %></td>
        <td><%= link_to 'Show', user_document %></td>
        <td><%= link_to 'Edit', edit_user_document_path(user_document) %></td>
        <td><%= link_to 'Destroy', user_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User document', new_user_document_path %>
