<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_document.user %>
</p>

<p>
  <strong>Document:</strong>
  <%= @user_document.document %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @user_document.filename %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @user_document.content_type %>
</p>

<p>
  <strong>File contents:</strong>
  <%= @user_document.file_contents %>
</p>

<%= link_to 'Edit', edit_user_document_path(@user_document) %> |
<%= link_to 'Back', user_documents_path %>
