<h1>Prescription</h1>
<% if @prescription[:user_type] == "user" %>
<p>Please, check your reception with id <%=@prescription[:reception_id]%>,prescription have added to the one</p>
<% else%>
		<p><%=@prescription[:message_body]%></p>
		<a href="https://venturebility.com/#!/actions/approve_prescription?id=<%=@prescription[:reception_id]%>&status=cancel" style="    display: inline-block;
    text-decoration: none;
    background: #d26363;
    width: 150px;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 15px;">Reject</a>
		<a href="https://venturebility.com/#!/actions/approve_prescription?id=<%=@prescription[:reception_id]%>&status=approved" style="    display: inline-block;
    text-decoration: none;
    background: #2192bd;
    width: 150px;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 15px;">Approve</a>
<% end%>
