<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.logo {
			text-align: center;
		}
		.logo img {
			width: 300px;
		}
		.default-width {
			width: 650px;
			margin: auto;
			font-size: 14px;
    	line-height: 1.5;
		}

		ol {
			padding: 0;
		}

	</style>
</head>
<body>
	<div class="default-width">
		<div class="logo">
			<%= image_tag @host[:protocol] + @host[:hostname] + '/img/main_logo.png' %>
		</div>
		<br>
		<p>Dear <%= @user[:first_name] %> <%= @user[:last_name] %></p>
		<br>

		<% if @user[:user_type] == "user" %>
		<p>Congratulations, your appointment with <%= @reception.staff.first_name + ' ' + @reception.staff.last_name %> <%= @reception.start_date %>, is now confirmed with <%= @company_address %></p>
		<p><b>Please arrive 15 mins prior to the meeting.</b></p>
		<p>Select the Appointments then “Upcoming Appointments and wait in your appointed meeting area by clicking on the relevant meeting from your list.</p>
		<% end%>
		
		<% if @user[:user_type] == "admin" %>
		<p>Payment information:</p>
		<p>Amount: $<%=@user[:amount]%></p>
		<p>Reception Id: <%=@user[:reception_id]%></p>
		<p>Patient: <%=@user[:patient][:first_name]%> <%=@user[:patient][:last_name]%> (<%=@user[:patient][:email]%>)</p>
		<% end%>

		<br>
		<p>Sincerely,</p>
		<p>Team Venturebility</p>
	</div>
	
</body>
</html>