<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.logo {
			text-align: center;
		}
		.logo img {
			width: 300px;
		}
		.default-width {
			width: 650px;
			margin: auto;
			font-size: 14px;
    	line-height: 1.5;
		}

		ol {
			padding: 0;
		}

	</style>
</head>
<body>
	<div class="default-width">
		<div class="logo">
			<%= image_tag @host[:protocol] + @host[:hostname] + '/img/main_logo.png' %>
		</div>
		<br>
		<p>Dear <%= @client.first_name %> <%= @client.last_name %></p>
		<br>
		<p>Congratulations, your new company has been registered. You are now just a few steps away from setting up your new Venture. Our team at Venturebility welcomes you with full support to your new endeavour.</p>
		<p>This email is a confirmation that your domain with Venturebility is confirmed.</p>
		<p><b><%= @company_address %></b></p>
		<br>
		<p>Please follow the Steps to login as Administrator</p>
		<ol>
			<li>Click here to verify the email address: <%= @company_address + '/#!/login?id=' + @client.id.to_s %></li>
			<li>Click here to go to your New Venture: <%= @company_address %></li>
		</ol>
		<br>
		<p>Sincerely,</p>
		<p>Team Venturebility</p>
	</div>
	
</body>
</html>