<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.logo {
			text-align: center;
		}
		.logo img {
			width: 300px;
		}
		.default-width {
			width: 650px;
			margin: auto;
			font-size: 14px;
    	line-height: 1.5;
		}

		ol {
			padding: 0;
		}

	</style>
</head>
<body>
	<div class="default-width">
		<div class="logo">
			<%= image_tag @host[:protocol] + @host[:hostname] + '/img/main_logo.png' %>
		</div>
		<br>
		<p>Dear <%= @client.first_name %> <%= @client.last_name %></p>
		<br>
		<p>Your Company Registration with the domain <%= @company_address %> is under evaluation by the Management at Venturebility. We apologize for any inconvenience this may have caused. We are preparing a list of documents that would require re-submission for approval.</p>
		<p>If you feel the need to enquire something please send us an email at:</p>
		<p>support@venturebilty.com</p>
		<br>
		<p>Sincerely,</p>
		<p>Team Venturebility</p>
	</div>
	
</body>
</html>